.simple-card{
    width: 500px;
    // height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgb(231, 231, 231);
    padding: 20px;
    h3{
        text-align: center;
    }
    canvas{
        max-height: 200px;
    }
}